[submodule "ThirdParty/HoaLibrary"]
	path = ThirdParty/HoaLibrary
	url = https://pierreguillot@github.com/CICM/HoaLibrary-Light.git
[submodule "ThirdParty/CicmWrapper"]
	path = ThirdParty/CicmWrapper
	url = https://github.com/njazz/CicmWrapper
	branch = master-0.49-fixes
